<nav class="sidebar sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item nav-profile" *ngIf="currentUserData">
      <div class="nav-link">
        
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces-clipart/pic-1.png" alt="profile image">
          </div>
          
          <div class="text-wrapper">
            <p class="profile-name">
              {{currentUserData.name || currentUserData.email || 'Sin nombre de usuario'}}
            </p>
            <div>
              <small class="designation text-muted">
                {{currentUserData.email}}
              </small>
            </div>
          </div>
        </div>
        
      </div>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <i class="menu-icon fa fa-tachometer-alt"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/balances" class="nav-link">
        <i class="menu-icon fa fa-clipboard-list"></i>
        <span class="menu-title">Ingresos y Egresos</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/detail" class="nav-link">
        <i class="menu-icon fa fa-table"></i>
        <span class="menu-title">Detalle</span>
      </a>
    </li>

    <li class="nav-item">
      <a (click)="logOut()" class="nav-link cursor pointer-cursor">
        <i class="menu-icon fa fa-sign-out-alt"></i>
        <span class="menu-title">Cerrar sesión</span>
      </a>
    </li>
    
  </ul>
</nav>